
body{
    background-color: beige;
    overflow: hidden;
}
.text-container>h1 {
    text-align: right;
    font: normal normal 900 80px/118px Heebo;
    letter-spacing: 0px;
    color: #3A3A3A;
    opacity: 1;
}

.text-container>p {
    font: normal normal 20px/30px Heebo;
    

}

.header-container {
    background-image: url(./imge/bgc.jpg);
    height: 28.8125em;
    display: flex;
    justify-content: center;
    align-items: center;

}

.text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 55%;

}

.technilgies {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;

}

