header{
    background-color: rgb(247, 237, 226);;
    border-bottom: #084630 3px solid;
    width: 100%;
    height: 7vh;
    position: fixed;

}

header img{
    height: 6vh;
}






 @media screen and (max-width:750px) {

    .header-container{
        height: 50vh;

    }
    .text-container{
        height: 50vh;
    }

.text-container h2 {
         text-align: center;
        width: 80vw;
        font-size: 2rem;
        
     }
     
 .screen img{
    width: 100%;
    height:65%;
    margin-top: 10%;
   
    

     }
     .screen{
        width: 100vw;
        height: 100%;
        // border: 1px solid #000;}
     }
     
    

.mobile{
    display: none;
}
.btn{
    margin-bottom: 0;
    width: 75vw;
    height: 20vh;
    display: flex;
    flex-direction: row;
    
    
  
  
}
.btn1, .btn2{
    width: 70vw;
  
    text-align: center;
}

}